[Unit]
Description = A simple little bot that posts shower thoughts to the hack club slack
After = network.target
 
[Service]
Type = simple
ExecStart = python <Path of the script you want to run>
User = showerthoughtsdino
Group = dinos
Restart = on-failure
SyslogIdentifier = showerthoughtsdino
RestartSec = 5
TimeoutStartSec = infinity
 
[Install]
WantedBy = multi-user.target # Make it accessible to other users